.header {
  display: flex;
  background-color: #990000;
  width: 100%;
}
.logopic {
  width: 100px;
  /*background-image: url(./src/images/logominta1.jpg);*/
}
.links {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
  align-items: center;
  list-style: none;
  color: white;
}
.linkcontainer li {
  cursor: pointer;
  margin: 20px;
  color: white;
  font-style: normal;
}
.linkcontainer li:hover {
  color: black;
}
